.library {
  position: fixed;
  box-shadow: 2px 2px 20px rgb(199, 187, 187);
  border-radius: 0.7rem;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  overflow: scroll;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  opacity: 0;

  h2 {
    padding: 2rem;
     font-family: 'Dancing Script', cursive;
  }
}

.library_song {
  display: flex;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  cursor: pointer;
  transition: background  0.5s ease;

  img {
    width: 20%;
    border-radius: 50%;
  }
  &:hover {
    background: rgb(241, 215, 96);
  }
}
.song_description {
  padding-left: 1rem;
  h3 {
    font-size: 1rem;
    font-family: 'Xanh Mono', monospace;
  }
  h4 {
    font-size: 0.7rem;
  }
}

/* The emerging W3C standard
   that is currently Firefox-only */
* {
  scrollbar-width: thin;
  scrollbar-color: #fff;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 20px;
  border: transparent;
}

.selected {
  background: #2C3A47;
}
.active_library {
  transform: translateX(0%);
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .library {
    width: 100%;
  }
}
